@import "../../Styles/vars.css";

.projectsCon {
   margin-top: 120px;
   z-index: 1;
   margin-left: 10%;
   margin-right: 10%;
   opacity: 0; /* doesn't appear only until visible class gets added */
}
.projectsCon.visible {
   animation: fadeInLeft 1.2s ease-out forwards;
}
@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
.projectTitle {
   color: var(--color-text);
   font-size: 2.2rem;
   font-weight: 800;
   position: relative;
   letter-spacing: 3px;
   text-transform: uppercase;
   display: inline-flex;
}
.projectTitle::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 5px;
   width: 107%;
   height: 4px;
   background: rgb(9, 32, 63);
   background: linear-gradient(63deg, rgba(9, 32, 63, 1) 0%, rgba(83, 120, 149, 1) 100%);
}
.projectItemsCon {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
   align-items: center;
   justify-content: flex-start;
   gap: 30px;
}

.projectItemBox {
   padding: 24px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: 100%;
   border: none;

   position: relative;
   border-radius: 1rem;
   overflow: hidden;
   z-index: 1; /* Ensures content stays on top */
   background: var(--surface-2); /* A fallback solid background */
}

/* The pseudo-element that acts as the combined background and border */
.projectItemBox::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle at 50% 250%, var(--primary-500), var(--surface-2)) padding-box,
      /*Add gradient in padding box and the other for border box(border) */
         linear-gradient(var(--border-1), var(--border-2)) border-box;

   /* place behind the parent's content */
   z-index: -1;
}

.projectItemImg {
   border-radius: 20px;
   width: 100%;
}
.projectItemName {
   margin-top: 15px;
   font-weight: 600;
   font-size: 1.7rem;
   letter-spacing: 1.4px;
}
.projectItemDesc {
   word-break: break-word;
   font-size: 1.1rem;
   font-weight: 400;
   margin-bottom: 17px;
}
.projectParagraph {
   margin-bottom: 4px;
}
.bold {
   font-weight: 800;
}
.projectItemTagsCon {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   margin-bottom: 20px;
   flex-wrap: wrap;
   gap: 10px;
}
.projectTag {
   background-color: var(--color-dark);
   padding: 2px 10px;
   border-radius: 24px;
   font-weight: 600;
   font-size: 1.1rem;
   border: none;
}
.projectsLinksCon {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.projectsLinksBtn {
   padding: 2px 18px;
   border-radius: 24px;
   font-weight: 600;
   font-size: 1.3rem;
   border: none;
   cursor: pointer;
   background-color: rgba(37, 37, 37, 0.671);
   box-shadow: 0px 0px 8px 6px rgba(14, 14, 14, 0.212);
   transition: all 0.2s ease-in-out;
}
.projectsLinksBtn:hover {
   box-shadow: 0px 0px 12px 8px rgba(14, 14, 14, 0.315);
}

/* ***Responsive */
@media (width <= 830px) {
   .projectsLinksCon {
      flex-direction: column;
      gap: 15px;
   }
}
@media (width <= 1038px) {
   .projectItemsCon {
      justify-content: center;
   }
}
