@import "../../Styles/vars.css";

.sectionM {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   margin-top: 49px;
   z-index: 1;
   margin-left: 10%;
   margin-right: 10%;
}

/*  Keyframes animation for the border effect --- */
@keyframes animate-border-flow {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
.animatedTextBorder {
   /* 1. Set the background to an animated gradient */
   background: linear-gradient(90deg, #537895 0%, #ffffff 50%, #537895 100%);
   background-size: 200% auto; /* Make the gradient wider than the text to animate it */

   /* Clip the background to the text shape */
   -webkit-background-clip: text;
   background-clip: text;

   /* Make the text fill color transparent */
   -webkit-text-fill-color: transparent;

   /* Create the border using text-stroke */
   -webkit-text-stroke: 2px transparent; /* We use a transparent stroke color because the background will show through */

   /* Apply the animation */
   animation: animate-border-flow 4s ease-in-out infinite;
}

.cont {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: var(--color-text);
   z-index: 1;
}
.nameCon {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 80px;
   width: 70%;
}

.intro {
   font-size: 3.2rem;
   font-weight: 900;
   margin-bottom: 33px;
   /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 120%);
   -webkit-background-clip: text; /* Add prefixed version 
   background-clip: text;
   -webkit-text-fill-color: transparent; */
   color: #cdd3dc;
   font-family: var(--font-primary);
}
.myName {
   font-size: 3.2rem;
   font-weight: 900;
   font-family: var(--font-primary);
   transform-origin: center;
   -webkit-animation: focus-in-expandDesk 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation: focus-in-expandDesk 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   text-align: center;
   margin-left: 4px;
   display: inline-block;
   vertical-align: baseline; /* better alignment */
   animation: focus-in-expandDesk 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards,
      /* Run this once */ animate-border-flow 4s ease-in-out 1.5s infinite; /* Start this after a delay */
}
/* Desktop Animation for myName */
@-webkit-keyframes focus-in-expandDesk {
   0% {
      letter-spacing: -0.5em;
      /* Apply translateX to shift right */
      -webkit-transform: translateX(0.75em);
      transform: translateX(0.75em);
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      letter-spacing: normal; /* Or specific value like 0 or initial */
      /* Return to normal position */
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}
@keyframes focus-in-expandDesk {
   0% {
      letter-spacing: -0.5em;
      /* Apply translateX to shift right */
      -webkit-transform: translateX(0.75em);
      transform: translateX(0.75em);
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      letter-spacing: normal; /* Or specific value like 0 or initial */
      /* Return to normal position */
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}

/* Mobile Animation for myName */
@-webkit-keyframes focus-in-expand {
   0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}
@keyframes focus-in-expand {
   0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}

.desc {
   font-family: var(--font-primary);
   font-size: 1.4rem;
   margin-bottom: 52px;
   width: 60%;
   word-break: break-word;
   font-weight: 400;
}

.contactBtn {
   min-width: 300px;
   min-height: 60px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   border-radius: 100px;
   color: var(--color-text);
   background-color: var(--color-primary);
   font-size: 1.35rem;
   font-weight: 700;
   letter-spacing: 1.3px;
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.479);
   position: relative;
   transition: all 0.3s ease-in-out 0s;
   padding: 10px;
}
.contactBtn::before {
   content: "";
   border-radius: 100px;
   min-width: calc(300px + 12px);
   min-height: calc(60px + 12px);
   border: 6px solid var(--color-secondary);
   box-shadow: 0 0 60px rgba(25, 55, 109, 0.64);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: all 0.3s ease-in-out 0s;
}
.contactBtn:hover,
.contactBtn:focus {
   color: var(--color-text);
   transform: translateY(-6px);
}
.contactBtn:hover::before,
.contactBtn:focus::before {
   opacity: 1;
}
.contactBtn::after {
   content: "";
   width: 30px;
   height: 30px;
   border-radius: 100%;
   border: 6px solid var(--color-secondary);
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: ring 1.5s 5;
}
.contactBtn:hover::after,
.contactBtn:focus::after {
   animation: none;
   display: none;
}
@keyframes ring {
   0% {
      width: 30px;
      height: 30px;
      opacity: 1;
   }
   100% {
      width: 300px;
      height: 300px;
      opacity: 0;
   }
}

.avatarPic {
   border-radius: 50%;
   width: 30%;
   z-index: 1;
   max-width: 850px;
   height: auto;
   flex-shrink: 0;
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes floating {
   0% {
      transform: translate(0, 0px);
   }
   50% {
      transform: translate(0, 10px);
   }
   100% {
      transform: translate(0, -0px);
   }
}

.topBlur {
   position: absolute;
   width: 50vw;
   height: 50vh;
   min-width: 350px;
   min-height: 350px;
   top: -128px;
   left: -10vw;
   border-radius: 764px;
   background: rgba(25, 55, 109, 0.7);
   filter: blur(100px);
   z-index: 0;
   overflow: hidden;
}
.bottomBlur {
   position: absolute;
   width: 70vw;
   height: 50vh;
   min-width: 350px;
   min-height: 250px;
   top: 246px;
   right: -25vw;
   border-radius: 764px;
   background: rgba(25, 55, 109, 0.7);
   filter: blur(100px);
   z-index: 0;
   overflow: hidden;
}

/* ***Responsive */

@media (width <= 830px) {
   .sectionM {
      flex-direction: column-reverse;
   }
   .cont {
      align-items: center;
   }
   .intro {
      text-align: center;
   }
      .desc{
      width: 100%;
   }
}
@media (width <= 604px) {
   .nameCon {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .intro {
      display: flex;
      flex-direction: column;
   }
}
